<div class="clearfix">
    <div class="pull-left sidebar">
        <ul class="nav nav-stacked nav-pills">
            <li><a href="">Something</a></li>
            <li><a href="">Something</a></li>
            <li><a href="">Something</a></li>
            <li><a href="">Something</a></li>
            <li><a href="">Something</a></li>
            <li><a href="">Something</a></li>
            <li><a href="">Something</a></li>
        </ul>
    </div>
    <div class="pull-left page-content">
        Something somethingSomething somethingSomething somethingSomething somethingSomething somethingSomething something
        Something somethingSomething somethingSomething somethingSomething somethingSomething something<br/>
        Something something<br/>
        Something something<br/>
        Something something<br/>
        Something something<br/>
        Something something<br/>
        Something something<br/>
        Something something<br/>
        Something something<br/>
        Something something<br/>
        Something something<br/>
        Something something<br/>
        Something something<br/>
        Something something<br/>
        Something something<br/>
        Something something<br/>
        Something something<br/>
        Something something<br/>
        Something something<br/>
        Something something<br/>
        Something something<br/>
        Something something<br/>
        Something something<br/>
        Something something<br/>
    </div>
</div>